server:
  context-path: /
  port: 8080

spring:
  datasource:
    mysql:
      url: jdbc:mysql://127.0.0.1:3306/edudb?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 123456
      driverClassName: com.mysql.jdbc.Driver

    sqlserver:
      url=jdbc:sqlserver://127.0.0.1:3306;database=edudb
